doctype html
html(lang="en")
  head
    title Simple #{config.name}
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible",content="ie=edge")
    meta(name="viewport",content="width=device-width,initial-scale=1.0")
    script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js",integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=",crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/socket.io-client@3.0.3/dist/socket.io.min.js",integrity="sha256-XWbNjAL+l0aYPimukCxoI/339U3AEFXDR3lnrXADLxU=",crossorigin="anonymous")
  body(style="font-family: sans-serif;")
    p#status Offline
    p
      span#count 0
      | /#{config.max_players}
    p#players
  script.
    $(function () {
      const socket = io();
      socket.emit("is online");
      socket.emit("get players");
      socket.on("online", () => $("#status").text("Online"));
      socket.on("offline", () => $("#status").text("Offline"));
      socket.on("get players", data => display(data));
      socket.on("change", data => display(data));
      function display(data) {
        $("#count").text(data.length);
        $("#players").text(data);
      }
    });
